.container {
    position: fixed;
    inset: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    background-color: rgb(var(--background-color));
    padding: 15px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.content::-webkit-scrollbar {
    display: none;
}

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(var(--foreground-color), 0.3);
    background-color: rgb(var(--background-color));
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.close:hover {
    box-shadow: 0 0 2px rgba(var(--foreground-color), 0.3);
}

.close:active {
    transform: scale(1.1);
}