.container {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
}

.label {
    flex-grow: 1;
    text-align: center;
    background-color: rgba(var(--foreground-color), 0.05);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
}

.label.active {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--background-color));
}

.label.active:hover {
    color: rgb(var(--background-color));
}

.label:hover {
    border-color: rgb(var(--primary-color));
    color: rgb(var(--primary-color));
}

.container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 840px) {
    .container {
        gap: 10px;
        overflow-x: scroll;
    }

    .label {
        min-width: fit-content;
    }
}
